examples/vacuum/example-1.json
[
  {
    "id": "555d779ff50d205c",
    "type": "tab",
    "label": "Vacuum",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "bb7da631263edc78",
    "type": "ha-mqtt-vacuum",
    "z": "555d779ff50d205c",
    "server": "8672849eb803c6e3",
    "device": "02c940ba547f5196",
    "name": "吸尘器",
    "config": "",
    "x": 450,
    "y": 180,
    "wires": [
      [
        "eafc3f2ca3973210"
      ],
      [
        "eafc3f2ca3973210"
      ],
      [
        "eafc3f2ca3973210"
      ]
    ]
  },
  {
    "id": "573af35ccf982f67",
    "type": "inject",
    "z": "555d779ff50d205c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "attributes",
        "v": "{ \"key\": \"value\" }",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"battery_level\":61,\"docked\":true,\"state\":\"cleaning\",\"cleaning\":false,\"charging\":true,\"fan_speed\":\"off\",\"error\":\"Error message\"}",
    "payloadType": "json",
    "x": 270,
    "y": 180,
    "wires": [
      [
        "bb7da631263edc78"
      ]
    ]
  },
  {
    "id": "eafc3f2ca3973210",
    "type": "debug",
    "z": "555d779ff50d205c",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 180,
    "wires": []
  },
  {
    "id": "8672849eb803c6e3",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "02c940ba547f5196",
    "type": "ha-mqtt-device",
    "name": "测试设备",
    "config": ""
  }
]