examples/guides/siren.json
[
    {
        "id": "9ed2093df2fd23bf",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b08aa9d2d22b2169",
        "type": "ha-mqtt-siren",
        "z": "9ed2093df2fd23bf",
        "server": "8672849eb803c6e3",
        "device": "02c940ba547f5196",
        "name": "警报器",
        "config": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "bb7651bd07231413"
            ]
        ]
    },
    {
        "id": "bb7651bd07231413",
        "type": "debug",
        "z": "9ed2093df2fd23bf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "be3de859b55e638f",
        "type": "inject",
        "z": "9ed2093df2fd23bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "attributes",
                "v": "{\"volume_level\":0.5,\"duration\":111,\"tips\":\"通过属性无法修改上面两个值\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b08aa9d2d22b2169"
            ]
        ]
    },
    {
        "id": "8672849eb803c6e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02c940ba547f5196",
        "type": "ha-mqtt-device",
        "name": "测试设备",
        "config": ""
    }
]