examples/sensor/example-1.json
[
  {
    "id": "899df68514ef0e5f",
    "type": "tab",
    "label": "Sensor",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "61789ab554c43842",
    "type": "inject",
    "z": "899df68514ef0e5f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "attributes",
        "v": "{ \"key\": \"value\" }",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "25.1",
    "payloadType": "num",
    "x": 230,
    "y": 120,
    "wires": [
      [
        "a10cbb96440ebc0c"
      ]
    ]
  },
  {
    "id": "a10cbb96440ebc0c",
    "type": "ha-mqtt-sensor",
    "z": "899df68514ef0e5f",
    "server": "8672849eb803c6e3",
    "device": "02c940ba547f5196",
    "name": "温度",
    "unit_of_measurement": "°C",
    "config": "",
    "x": 410,
    "y": 120,
    "wires": []
  },
  {
    "id": "0149039a0bed453d",
    "type": "inject",
    "z": "899df68514ef0e5f",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "attributes",
        "v": "{ \"key\": \"value\" }",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "55",
    "payloadType": "num",
    "x": 230,
    "y": 200,
    "wires": [
      [
        "16579e3b7ccbbed7"
      ]
    ]
  },
  {
    "id": "16579e3b7ccbbed7",
    "type": "ha-mqtt-sensor",
    "z": "899df68514ef0e5f",
    "server": "8672849eb803c6e3",
    "device": "02c940ba547f5196",
    "name": "电量",
    "unit_of_measurement": "%",
    "config": "{\"device_class\":\"battery\"}",
    "x": 410,
    "y": 200,
    "wires": []
  },
  {
    "id": "8672849eb803c6e3",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "02c940ba547f5196",
    "type": "ha-mqtt-device",
    "name": "测试设备",
    "config": ""
  }
]