examples/camera/example-1.json
[
    {
        "id": "d30116c083f33263",
        "type": "ha-mqtt-camera",
        "z": "defe2e9c488e2ee8",
        "server": "8672849eb803c6e3",
        "device": "02c940ba547f5196",
        "name": "摄像机",
        "config": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "dc37e7bc5ddf8276",
        "type": "http request",
        "z": "defe2e9c488e2ee8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://pic.netbian.com/uploads/allimg/220510/230359-16521950393a5a.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "d30116c083f33263"
            ]
        ]
    },
    {
        "id": "354a9712936275d8",
        "type": "inject",
        "z": "defe2e9c488e2ee8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "dc37e7bc5ddf8276"
            ]
        ]
    },
    {
        "id": "8672849eb803c6e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02c940ba547f5196",
        "type": "ha-mqtt-device",
        "name": "测试设备",
        "config": ""
    }
]