examples/lock/example-1.json
[
    {
        "id": "c08297b04bf05bc6",
        "type": "tab",
        "label": "Lock",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "086e9df53597ea5e",
        "type": "ha-mqtt-lock",
        "z": "c08297b04bf05bc6",
        "server": "8672849eb803c6e3",
        "device": "02c940ba547f5196",
        "name": "锁",
        "config": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "c6560ac7cfff4605"
            ]
        ]
    },
    {
        "id": "c6560ac7cfff4605",
        "type": "debug",
        "z": "c08297b04bf05bc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "b1fb0ec9d63f9973",
        "type": "inject",
        "z": "c08297b04bf05bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "attributes",
                "v": "{\"key\":\"value\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "LOCK",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "086e9df53597ea5e"
            ]
        ]
    },
    {
        "id": "1d9c8912352d35d0",
        "type": "inject",
        "z": "c08297b04bf05bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "attributes",
                "v": "{\"key\":\"value\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "UNLOCK",
        "payloadType": "str",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "086e9df53597ea5e"
            ]
        ]
    },
    {
        "id": "8672849eb803c6e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02c940ba547f5196",
        "type": "ha-mqtt-device",
        "name": "测试设备",
        "config": ""
    }
]