examples/switch.json
[
    {
        "id": "10e62eacb57c43ed",
        "type": "tab",
        "label": "Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f93169fe5ed966d",
        "type": "ha-mqtt-switch",
        "z": "10e62eacb57c43ed",
        "server": "8672849eb803c6e3",
        "device": "02c940ba547f5196",
        "name": "开关",
        "config": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "e631295a6b8281c6"
            ]
        ]
    },
    {
        "id": "ab87d0cdbd343317",
        "type": "inject",
        "z": "10e62eacb57c43ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "attributes",
                "v": "{\"key\":\"value\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "9f93169fe5ed966d"
            ]
        ]
    },
    {
        "id": "e631295a6b8281c6",
        "type": "debug",
        "z": "10e62eacb57c43ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "8672849eb803c6e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02c940ba547f5196",
        "type": "ha-mqtt-device",
        "name": "测试设备",
        "config": ""
    }
]