examples/humidifier/example-1.json
[
  {
    "id": "c889d5b2103f2e2d",
    "type": "tab",
    "label": "Humidifier",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4d34858fc8d88bd0",
    "type": "ha-mqtt-humidifier",
    "z": "c889d5b2103f2e2d",
    "server": "8672849eb803c6e3",
    "device": "02c940ba547f5196",
    "name": "加湿器",
    "config": "",
    "x": 430,
    "y": 180,
    "wires": [
      [
        "61f471d7c785a58f"
      ],
      [
        "61f471d7c785a58f"
      ],
      [
        "61f471d7c785a58f"
      ]
    ]
  },
  {
    "id": "b8cfc2ad4eb8dc83",
    "type": "inject",
    "z": "c889d5b2103f2e2d",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "mode",
        "v": "auto",
        "vt": "str"
      },
      {
        "p": "target_humidity",
        "v": "50",
        "vt": "str"
      },
      {
        "p": "attributes",
        "v": "{ \"key\": \"value\" }",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "ON",
    "payloadType": "str",
    "x": 230,
    "y": 160,
    "wires": [
      [
        "4d34858fc8d88bd0"
      ]
    ]
  },
  {
    "id": "61f471d7c785a58f",
    "type": "debug",
    "z": "c889d5b2103f2e2d",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 180,
    "wires": []
  },
  {
    "id": "9b77b90ea6bd940d",
    "type": "inject",
    "z": "c889d5b2103f2e2d",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "mode",
        "v": "sleep",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "OFF",
    "payloadType": "str",
    "x": 230,
    "y": 220,
    "wires": [
      [
        "4d34858fc8d88bd0"
      ]
    ]
  },
  {
    "id": "8672849eb803c6e3",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "02c940ba547f5196",
    "type": "ha-mqtt-device",
    "name": "测试设备",
    "config": ""
  }
]