examples/number/example-1.json
[
    {
        "id": "2bc6e89f7ef20f49",
        "type": "tab",
        "label": "Number",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "088e3e1a1798d4e1",
        "type": "ha-mqtt-number",
        "z": "2bc6e89f7ef20f49",
        "server": "8672849eb803c6e3",
        "device": "02c940ba547f5196",
        "name": "数字",
        "config": "{\"step\":0.01}",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "90ef7d9e52d31404"
            ]
        ]
    },
    {
        "id": "32c694ff9fd65964",
        "type": "inject",
        "z": "2bc6e89f7ef20f49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "attributes",
                "v": "{\"key\":\"value\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "088e3e1a1798d4e1"
            ]
        ]
    },
    {
        "id": "90ef7d9e52d31404",
        "type": "debug",
        "z": "2bc6e89f7ef20f49",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "8672849eb803c6e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02c940ba547f5196",
        "type": "ha-mqtt-device",
        "name": "测试设备",
        "config": ""
    }
]