examples/alarm_control_panel/example-1.json
[
  {
    "id": "557ad1597dd0811e",
    "type": "tab",
    "label": "Alarm Control Panel",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4aaa242eba3f3b94",
    "type": "ha-mqtt-alarm_control_panel",
    "z": "557ad1597dd0811e",
    "server": "8672849eb803c6e3",
    "device": "02c940ba547f5196",
    "name": "报警控制面板",
    "config": "",
    "x": 620,
    "y": 260,
    "wires": [
      [
        "8b1d1cd57e7fcad0"
      ]
    ]
  },
  {
    "id": "8b1d1cd57e7fcad0",
    "type": "debug",
    "z": "557ad1597dd0811e",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 260,
    "wires": []
  },
  {
    "id": "9eee163581e76de3",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "disarmed",
    "payloadType": "str",
    "x": 200,
    "y": 60,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "faba5f3865f31de0",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "armed_home",
    "payloadType": "str",
    "x": 210,
    "y": 100,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "3601db7d904366a9",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "armed_away",
    "payloadType": "str",
    "x": 210,
    "y": 140,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "cfe31275d55e4362",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "armed_night",
    "payloadType": "str",
    "x": 210,
    "y": 180,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "67a5810b5c086116",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "armed_vacation",
    "payloadType": "str",
    "x": 220,
    "y": 220,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "648fd2af7b20386f",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "armed_custom_bypass",
    "payloadType": "str",
    "x": 240,
    "y": 260,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "4fa6ec2929ee2a28",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "pending",
    "payloadType": "str",
    "x": 190,
    "y": 300,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "d6211d2be3309e61",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "triggered",
    "payloadType": "str",
    "x": 200,
    "y": 340,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "1fe0f764a6d05e95",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "arming",
    "payloadType": "str",
    "x": 190,
    "y": 380,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "75c16f814d7bb055",
    "type": "inject",
    "z": "557ad1597dd0811e",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "disarming",
    "payloadType": "str",
    "x": 200,
    "y": 420,
    "wires": [
      [
        "4aaa242eba3f3b94"
      ]
    ]
  },
  {
    "id": "8672849eb803c6e3",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "02c940ba547f5196",
    "type": "ha-mqtt-device",
    "name": "测试设备",
    "config": ""
  }
]